body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#username {
  font-size: 2rem;
}

#bodyDiv {
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background-image: url(../images/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.containerDiv {
  min-width: 100%;
  min-height: 100vh;
  overflow: auto;
  position: relative;
}

.container {
  text-align: center;
  min-width: 100%;
  min-height: 100vh;
}

header {
  background: #eccfb075;
  min-width: 1000px;
  max-width: 80%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 5px;
}

header a {
  background: #acd7e5;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: 600;
}

.title {
  width: 430px;
  text-align: center;
}

#chart1b,
#chart2b {
  display: none;
}

#currentDay2 {
  margin: 10px auto;
  display: none;
}

#mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  height: 60vh;
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
  overflow: hidden;
}

.slideLeftOut {
  animation:nextWk 1s ease-in-out;
}

@keyframes nextWk {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX(-100%);
    opacity: 0;
  }
  30% {
    transform: translateX(-100%);
    opacity: 0;
  }
  40% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  
}

.slideRightOut {
  animation:preWk 1s ease-in-out;
}

@keyframes preWk {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX(100%);
    opacity: 0;
  }
  30% {
    transform: translateX(100%);
    opacity: 0;
  }
  40% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  
}

section {
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0%;
  width: 19%;
  min-width: 19%;
  background: lightblue;;
}

section div {
  display: flex;
}

section div h5 {
  margin: 0;
  width: 20%;
}

section div input[type=checkbox] {
  width: 10%;
}

section div input {
  width: 70%;
  margin: 0 3px;
}

.past {
  background: #e67171d1;
}

.present {
  background: #b2e092d1;
}

.future {
  background: lightblue;
}

#daysDiv {
  margin-top: 20px;
}

#nextWeek {
  background: #add8e6;  
  font-weight: 600;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

#prevWeek {
  background: #e67171d1;
  font-weight: 600;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

#today {
  background: #b2e092d1;
  font-weight: 600;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 431px) {
  body {
    margin: 0;
  }

  .title {
    font-size: 0.8rem;
  }

  .hide1 {
    display: none;
  }

  #chart1,
  #chart2 {
    display: none;
  }

  #chart1b,
  #chart2b {
    display: block;
  }

  #currentDay2 {
    display: block;
  }  
  
  .container {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  main {
    display: -webkit-box;
    overflow-x: scroll;
    position: relative;
    width: 250px;
    height: 500px;
  }

  section {
    width: 99%;
  }

  header {
    width: 430px;
    display: -webkit-box;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    border: none;
    border-bottom: 2px solid #000;
    min-width: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

  .modebar-group {
    background-color: transparent;
  }

  #chart1 {
    border: 1px solid red;
  }

}