body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-image: url(/assets/images/BG.png);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

header {
  background: #eccfb075;
  min-width: 1000px;
  max-width: 80%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 5px;
}

.title {
  width: 400px;
  text-align: center;
}

#chart1b,
#chart2b {
  display: none;
}

#currentDay2 {
  margin: 10px auto;
  display: none;
}

main {
  height: 60vh;
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

section {
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  width: 18%;
  width: 95%;
  background: lightblue;
}

section div {
  display: flex;
}

section div h5 {
  margin: 0;
  width: 20%;
}

section div input[type=checkbox] {
  width: 10%;
}

section div input {
  width: 70%;
  margin: 0 3px;
}

.past {
  background: #e67171d1;
}

.present {
  background: #b2e092d1;
}

.future {
  background: lightblue;
}

@media screen and (max-width: 431px) {
  body {
    margin: 0;
  }

  .title {
    font-size: 0.8rem;
  }

  .hide1 {
    display: none;
  }

  #chart1,
  #chart2 {
    display: none;
  }

  #chart1b,
  #chart2b {
    display: block;
  }

  #currentDay2 {
    display: block;
  }
  
  .container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  main {
    display: -webkit-box;
    overflow-x: scroll;
    position: relative;
    width: 250px;
    height: 500px;
  }

  #leftClick {
    background: transparent;
    border: 2px solid;
    color: white;
    text-shadow: 3px 3px 1px black;
    border-radius: 10px;
    font-size: 3rem;
    transform: translateY(-50%);
  }

  #rightClick {
    background: transparent;
    border: 2px solid;
    color: white;
    text-shadow: 3px 3px 1px black;
    border-radius: 10px;
    font-size: 3rem;
    transform: translateY(-50%);
  }

  header {
    width: 430px;
    display: -webkit-box;
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    border: none;
    border-bottom: 2px solid #000;
    min-width: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

  .modebar-group {
    background-color: transparent;
  }

  #chart1 {
    border: 1px solid red;
  }

}