body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-image: url(/assets/images/BG.png);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

header {
  background: #eccfb075;
  min-width: 1000px;
  max-width: 80%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 5px;
}

.title {
  width: 400px;
  text-align: center;
}

#main {
  height: 60vh;
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

section {
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  width: 18%;
  background: lightblue;
}

section div {
  display: flex;
} 

section div h5 {
  margin: 0;
  width: 20%;
}

section div input[type=checkbox] {
  width: 10%;
}

section div input {
  width: 70%;
  margin: 0 3px;
}

.past {
  background: #e67171d1;
}

.present {
    background: #b2e092d1;
}

.future {
  background: lightblue;
}

@media screen and (max-width: 431px) {
  header {
    width: 430px;
    min-width: 0;
    border: 1px solid #900909;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  header div:nth-child(1) {
    order: 2;
    width: 100px;
    height: 200px;
    border: 1px solid #000;
  }

  header div:nth-child(2) {
    order: 1;
    width: 100%;
  }

  header div:nth-child(3) {
  order: 3;
  width: 100px;
  border: 1px solid #000;
 }
  
}