body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header * {
  margin: 5px;
}

#main {

  /* border: 2px solid black; */
  height: 60vh;
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

section {
  text-align: center;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  width: 18%;
  background: lightblue;
}

section div {
  display: flex;
  /* border: 1px solid #000; */
} 

section div h5 {
  margin: 0;
  width: 20%;
}

section div input[type=checkbox] {
  width: 10%;
}

section div input {
  width: 70%;
  margin: 0 3px;
}

.past {
  background: #e67171d1;
}

.present {
  background: #e0dd92d1;
}

.future {
  background: lightblue;
}